<div class="add-task-div">
  <h1 class="add-h1">Add a Task</h1>
  <form class="form-body" (ngSubmit)="addtask()" #taskForm="ngForm">
    <div class="inpt">
      <label for="name">Task Name :</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="taskName"
        name="taskName"
        required
      />
    </div>

    <div class="inpt">
      <label for="desc">Description :</label>
      <input
        type="text"
        id="desc"
        [(ngModel)]="taskDescription"
        name="taskDescription"
        required
      />
    </div>

    <div class="opt">
      <label>Status :</label>
      <select name="status" [(ngModel)]="taskStatus">
        <option value="Done">Done</option>
        <option value="To Do">To Do</option>
        <option value="In Progress">In Progress</option>
      </select>
    </div>

    <div class="inpt">
      <label for="info">Additional :</label>
      <input
        type="text"
        id="info"
        [(ngModel)]="taskAdditional"
        name="taskAdditional"
      />
    </div>
    <button type="submit" class="btn" [disabled]="!taskForm.valid">ADD</button>
  </form>
</div>
